.recipeThumbnail__img {
    height: 100px;
    width: auto;
}

.card {
    margin: 15px 0;
}

.card-header {
    justify-content: space-between;
}

.columns {
    align-items: center;
}

#googleSearch__field {
    justify-content: center;
}

.pagination-link.is-current {
    border-color: #ba0000 !important;
    background-color: #ba0000 !important;
}