@media screen and (min-width: 769px) {
  .loginForm__h1 {
    font-size: 2.5rem;
  }
  .loginForm__field,
  .registerForm__field {
    width: 60%;
  }
  .login__form {
    left: 25%;
  }
  .register__form {
    left: 25%;
  }
  .message {
    width: 45%;
  }
  .message__container {
    left: 27%;
  }
  .section {
    margin: 0 auto;
    width: 1200px;
  }
  .recipes__section .card {
    width: 45%;
  }
  .recipes__section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .recipeDetails__section .card {
    width: 70%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1200px) {
  .loginForm__field,
  .registerForm__field {
    width: 40%;
  }
  .login__form {
    left: 32%;
  }
  .register__form {
    left: 32%;
  }
  .message {
    width: 35%;
  }
  .message__container {
    left: 31%;
  }
}
